.app {
    width: 100%;
    max-width: 100% !important;
    text-align: center;
}

.navbar{
    text-align: center;
}

.tasks{
    margin-top: 40px;
}

.task{
    text-align: center;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 8px;
    height: 3em;
    line-height: 3em;
    background-color: rgba(0, 0, 0, .025);
}

.form-control{
    display: inline !important;
    background-color: rgba(0,0,0,0) !important;
}

.icon{
    font-size: 2em;
    line-height: 3em;
    margin-right: 10px;
}

.options{
    font-size: 1em;
}

.icon:hover{
    opacity: 70%;
    cursor: pointer;
}

.red{
    color: rgb(204, 94, 94);
}

.green{
    color: rgb(94, 177, 94);
}



