.app {
    width: 100%;
    max-width: 100% !important;
}

.navbar{
    text-align: center;
}

.tasks{
    margin-top: 40px;
}

.task{
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}