.app {
    width: 100%;
    max-width: 100% !important;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    text-align: center;
    background-color: #292929;
}

.tasks {
    padding-top: 20px;
    width: 80vw;
    max-width: 80vw;
    height: 80vh;
}

.task {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 2px 2px grey;
    height: auto;
}

.task-complete {
    text-decoration: line-through;
}

.form-control {
    display: inline !important;
}

.icon {
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
    color: #292929;
}


.options {
    font-size: 1em;
}

.icon:hover {
    opacity: 70%;
    cursor: pointer;
}

.icon-add-task {
    margin-top: 2vh;
}

.red {
    color: rgb(204, 94, 94);
}

.green {
    color: rgb(94, 177, 94);
}

.completed-filter {
    text-align: right;
    position: relative;
}

.task-col {
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
}

.header {
    text-align: center !important;
    color: #292929 !important;
}

.title {
    color: #f5f5f5 !important;
    font-size: 3em !important;
    font-weight: 300 !important;
}

.logout {
    text-align: right !important;
    color: #f5f5f5 !important;
}

.text-area {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}

.button {
    background-color: #292929 !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 8px !important;
    box-shadow: 2px 2px grey !important;
    color: #f5f5f5 !important;
}

.button:hover {
    background-color: #3d3d3d !important;
}

.welcome {
    padding-top: 5vh;
}

.welcome-button {
    margin: 2vh;
}

.tooltip-inner {
    background-color: #292929 !important;
}

.arrow::before, .arrow::after {
    border-bottom-color: #292929 !important;
}
